.ind_review {
  display: flex;
  flex-direction: row;
  border: 2px double rgb(216, 203, 203);
  padding: 10px;
  margin-top: 20px;
  align-items: center;
  border-radius: 20px;
}

.my_reviews_title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: normal;
}

.review_list_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.star_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.star_rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.review_content {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.button-23 {
  background-color: #FF385C;
  /* border: 1px solid #222222; */
  border-radius: 8px;
  box-sizing: border-box;
  /* color: #222222; */
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
