img {
  height: 250px;
  flex-wrap: wrap;
  float: left;
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 33px;
  margin: 1rem;
}

a:link {
  text-decoration: none;
}

.allProperties {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.propertyPrice {
  font-weight: bold;
}
