.property_details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 10px;
}

.detail_border {
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  border: 2px double rgb(216, 203, 203);
  padding: 2rem;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 2rem;
}

.property_name {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.avg_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.specific_property_location {
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -8px;
  font-style: oblique;
  font-weight: 400;
}
.specific_property_image {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 450px;
  height: 350px;
  background-size: cover;
  border-radius: 15px;
  margin: 0rem;
  position: static;
}
 .specific_property_description, .specific_property_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6rem;
  padding-left: 12px;
 }

.property_description {
  font-size: 18px;
}

.property_price {
  font-weight: 550;
}

.property_review_details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.star_reviews_avg {
  margin-bottom: 15px;
}

.create_review_button {
  margin-bottom: 15px;
}
