.property_details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 10px;
}

.detail_border {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2rem;
}

.property_name {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.avg_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.specific_property_location {
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -8px;
  font-style: oblique;
  font-weight: 400;
}
.specific_property_image {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 35em;
  height: auto;
  background-size: cover;
  border-radius: 15px;
  margin: 0rem;
  position: static;
}
 .specific_property_description, .specific_property_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6rem;
  padding-left: 12px;
 }

.property_description {
  font-size: 18px;
}

.property_price {
  font-weight: 550;
}

.property_review_details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.star_reviews_avg {
  margin-bottom: 15px;
}

.create_review_button {
  margin-bottom: 15px;
}

.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

/* .booking-container {
  border: thin solid black;
} */

.bottom-container {
  padding: 0px 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-container {
  padding: 0px 10em;
}

.edit-and-delete-property-button {
  padding-bottom: 1em;
}

.preview-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.property-option-buttons {
  display: flex;
  flex-direction: row;
}

.delete-btn {
  padding-left: 5px;
}
