/* TODO Add site wide styles */
a:link {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.button-24 {
  border: none;
  background: none;
  color: red;
  margin-top: 8px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.button-24:hover {
  cursor: pointer;
  font-weight: 900;
  box-shadow: red;
}

.button-23 {
  background-color: #FF385C;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
