/* .actions_menu {
  color: gray;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 15px;
  border: white;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  padding-left: 17px;
  font-size: 15px;
  display: flex;
  text-align: start;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #dddddd;
} */

.profile_dropdown {
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.actions_button {
  background-color: gray;
}

#menu {
  background-color: gray;
}

